.SourceCode
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 100vh
  background-image: url("http://s91026w9.beget.tech/back1.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

  h1
    font-size: 60px
    color: black

.buttonStyle
  border-radius: 10px
  padding: 10px 15px
  font-weight: bold
  outline: none
  border: 1px solid black
  background: transparent
  cursor: pointer
  transition: .2s
  color: black
  text-decoration: none
  font-size: 14px
  margin: 0 10px 0 0

  &:focus
    transition: .2s
    outline: blue 1px solid

  &:hover
    transition: .2s
    background: black
    color: white


