.about_container
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-evenly
  h1
    font-size: 60px
  p
    margin: 0 0 20px 0
    font-size: 14px

.italian
  font-style: italic
  font-size: 12px